<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.mln.listeners.Listener"></listener>
        <listener class-name="org.mln.listeners.MethodInterceptor"></listener>
        <listener class-name="org.mln.listeners.AnnotationTransformer"></listener>
    </listeners>
    <test thread-count="1" name="C:/Users/laksh/git/ataf" parallel="methods">
        <classes>
            <class name="org.mln.testcases.ProductsTest"/>
        </classes>
    </test>
</suite>